.color_primary
{
    background-color: #DE6B48;
}

.color_text1
{
    color: #080F0F;
}

.color_text2
{
    color: #EFF2C0;
}

.color_secondary
{
    background-color: #636940;
}

.color_ternary
{
    background-color: #EFF2C0;
}

.color_alt
{
    background-color: #F7F052;
}
